<div class="container">
  <nav class="bg-medium-white" id="navbar">
    <h1 class="icon text-center bg-dark-red heading-big">
      Download - Anything
    </h1>
    <ul>
      <li>
        <a class="white bg-black" href="/home">Home</a>
      </li>
      <li>
        <a class="white bg-black" href="/youtube"
          >Youtube Downloader <i class="fas fa-download"></i
        ></a>
      </li>
      <li>
        <a class="white bg-black" href="/about">About Us</a>
      </li>
    </ul>
  </nav>
</div>
